html {
    height: 100%;
   margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin:0;


}

.bg {
    /* The image used */
    background-image: url("pexels-photo-247899.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.main-content{
    flex: 1 0 auto;

}
.footer{

   flex: 0 0 auto;

}
