#main-content {
    flex: 1 0 auto;
    height: 100%;
    width: 100%;
    background: green;
    position: absolute;
}

#header, #footer {
    height: 100px;
    width: 100%;
    background: red;
}

#body {
    height: 100%;
    width: 100%;
    background: blue;
}

​
#footer {
    flex: 0 0 auto;
}