<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="header::head"></div>
<div class="container">
    <h2>Book Adding Form</h2>
    <form class="form-horizontal" th:action="@{/addWebBook}" th:object="${addedBook}" method="post">
        <div class="form-group">
            <label class="control-label col-sm-2" th:text="#{msg.title}"> Book Title </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" placeholder="Enter title" name="title"
                       th:field="*{title}">
                <p th:if="${#fields.hasErrors('title')}" class="label label-danger" th:errors="*{title}">Incorrect
                    title</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" th:text="#{book.author.firstName.text}">Author's first name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" placeholder="Enter first name" name="firstName"
                       th:field="*{author.firstName}">
                <p th:if="${#fields.hasErrors('author.firstName')}" class="label label-danger" th:errors="*{author.firstName}">Incorrect
                    first name</p>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2" th:text="#{book.author.lastName.text}">Author's last name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" placeholder="Enter last name" name="lastName"
                       th:field="*{author.lastName}">
                <p th:if="${#fields.hasErrors('author.lastName')}" class="label label-danger" th:errors="*{author.lastName}">
            </div>
        </div>

        <!--<div class="form-group">
            <label class="control-label col-sm-2" th:text="#{book.publisher.name.text}">Publisher</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="publisher" placeholder="Enter publisher" name="publisher" th:field="*{publisher}">
            </div>
-->
        <div class="form-group">
            <label class="control-label col-sm-2" th:text="#{book.publisher.name.text}">Publisher</label>
            <div class="col-sm-10">
                <select th:field="*{publisher}">
                    <option th:each="publisher : ${publisherList}" th:value="${publisher.id}"
                            th:text="${publisher.name}"/>
                </select>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-sm-2" th:text="#{book.bookType.label.text}">Book Type</label>
            <div class="col-sm-10">
                <select th:field="*{bookType}">
                    <option th:each="type : ${bookTypes}" th:value="${type}" th:text="${type}"/>
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>
<div id="footer" th:include="footer::foot"></div>
</body>
</html>
