<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<div th:include="header::head"></div>
<div class="container">
    <h2>Book Rental</h2>
    <p>This is the book rental you have just made! </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th> Book Rental id</th>
            <th> Library Client</th>
            <th> Book title</th>
            <th> Rental Date</th>
            <th> Return Date</th>



        </tr>
        </thead>
        <tbody>
        <tr th:${addedBookRental}>
            <td><span th:text="${addedBookRental.id}"></span></td>
            <td><span th:text="${addedBookRental.libraryClient.cardId}"></span></td>
            <td><span th:text="${addedBookRental.book.title}"></span></td>
            <td><span th:text="${addedBookRental.rentalDate}"></span></td>
            <td><span th:text="${addedBookRental.dateToBeReturned}"></span></td>



        </tr>
        </tbody>
    </table>
</div>
<div th:include="footer::foot"></div>

</body>
</html>