<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="/css/footerStyle.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Book List</title>
</head>
<body>
<div id="main-content">
<div class="bg">
     <div id="header" th:include="header::head">
     </div>
</div>

<div class="container">
    <h2>List of Books</h2>
    <p>This is the list of all books in our library</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th> Title</th>
            <th> Author's name</th>
            <th> Author's last name</th>
            <th> Details </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${bookList}">
            <td><span th:text="${book.title}"></span></td>
            <td><span th:text="${book.author.firstName}"></span></td>
            <td><span th:text="${book.author.lastName}"></span></td>
            <td><a class="btn btn-default" th:href="@{'../../book/'+${book.id}}" role="button"/>Want more details?</td>


        </tr>
        </tbody>
    </table>
</div>
<div id="footer" th:include="footer::foot"></div>
</div>



</body>
</html>