<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
<div th:include="header::head"></div>
<div class="container">
    <h2>Book</h2>
    <p>This is the book you were looking for</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th> Title</th>
            <th> Author's name</th>
            <th> Author's last name</th>
            <th>Is Borrowed?</th>

        </tr>
        </thead>
        <tbody>
        <tr th:${bookWithId}>
            <td><span th:text="${bookWithId.title}"></span></td>
            <td><span th:text="${bookWithId.author.firstName}"></span></td>
            <td><span th:text="${bookWithId.author.lastName}"></span></td>
            <td><span th:text="#{|bool.${bookWithId.borrowed}|}">yes</span></td>
            <!--<td><span th:if="${bookWithId.borrowed}==TRUE">
                <span th:text="${possibleDateOfReturn}"></span></span></td>-->
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><span th:if="${bookWithId.borrowed}==TRUE">
              <span th:text="'Should be returned on: '+${possibleDateOfReturn}"></span></span></td>


        </tr>
        </tbody>
    </table>
</div>

<div th:include="footer::foot"></div>
</body>
</html>