<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<p>Please select an option</p>
<ol>
    <li><a href="bookList.html" th:href="@{/books/webList}">Book List</a></li>
    <li><a href="addBook.html" th:href="@{/addWebBook}">Add a Book?</a></li>
    <li><a href="rentBook.html" th:href="@{/addBookRentalByTitle}">Rent a Book?</a></li>
    <!--<li><a href="userprofile.html" th:href="@{/userprofile}"></a></li>-->
</ol>

</body>
</html>