<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent Book</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="../static/css/footerStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>
<div th:include="header::head"></div>
<div class="container">
    <main class="Site-content">
    <H1>Book Rental Page</H1>


    <form action="#" th:action="@{/addBookRentalByTitle}" th:object="${addedBookRental}" method="post">
        <table border="1">
            <tr>
                <div id="productItems">

                    <div class="form-group" >

                        <label>Choose client's card ID: </label>

                        <select th:field="*{libraryClient}">
                            <option th:each="libraryClient : ${clientList}" th:attr="value=${libraryClient.cardId}"
                                    th:text="${libraryClient.cardId}"/>
                        </select>


                    </div>
                    <div class="form-group" >

                        <label>Rental date: </label>

                        <input type="date" th:value="*{rentalDate}"th:field="*{rentalDate}"  />
                       <!-- <span  th:attr="value=${dateToBeReturned}"  />-->
                        <p th:if="${#fields.hasErrors('rentalDate')}" class="label label-danger" th:errors="*{rentalDate}">






                    </div>


                    <div class="form-group" >

                        <div th:if="${#lists.isEmpty(bookList)}">
                            <p>.............No books available - sorry ............................</p>


                        </div>
                        <div th:if="${not #lists.isEmpty(bookList)}">
                            <label>Choose book by title: </label>
                            <select th:field="*{book}">
                                <option th:each="book : ${bookList}" th:attr="value=${book.id}"
                                        th:text="${book.title}"/>


                            </select>
                            <td><input type="submit" value="Confirm Your Rent"/></td>

                        </div>


                    </div>
                </div>
            </tr>

        </table>
    </form>

    <script>
        function addingBook() {
            document.getElementById("productsItem").innerHTML = document.getElementById("productsItem").innerHTML + '<div>' +
                document.getElementById("productsItem").innerHTML + '</div>';
        }
    </script>
<!--</section>-->
    </main>

</div>
<div  th:include="footer::foot"></div>
</body>
</html>