<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<div th:include="header::head"></div>
<form action="#" th:action="@{/addBookRentalByTitle}" th:object="${addedBookRental}" method="post">
    <table border="1">

        <tr>
            <td><label th:text="#{msg.LibraryClient}" /></td>
            <td><input type="number" th:field="*{LibraryClient.cardId}" /></td>
        </tr>

        <!--<tr>
            <td><label th:text="#{author.firstName}" /></td>
            <td><input type="text" th:field="*{author.firstName}" /></td>
        </tr>

        <tr>
            <td><label th:text="#{author.lastName}" /></td>
            <td><input type="text" th:field="*{author.lastName}" /></td>
        </tr>

        <tr>
            <td><label th:text="#{msg.publisher}" /></td>
            <td><input type="number" th:field="*{publisher}" /></td>
-->
        <tr>
            <td><label th:text="#{book.bookType.label.text}" /></td>
            <td>
                <select th:field="*{book.title}">
                    <option th:each="book : ${book}" th:value="${book}" th:text="${book}"/>
                </select>
            </td>
        </tr>


        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<div th:include="footer::foot"></div>
</body>
</html>