<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Return Book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" href="/css/returnStyle.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>
<div th:include="header::head"></div>
<div class="container">
    <H1>Book Return Page</H1>


    <form class="form-horizontal" th:action="@{/returnBook}" th:object="${returnedBookRental}" method="post">


        <div class="form-group">

            <label>Choose client's card ID: </label>

            <select th:field="*{libraryClient}" id="selectClient">
                <option value="">Select ID</option>
                <option th:each="libraryClient : ${clientList}" th:attr="value=${libraryClient.cardId}"
                        th:text="${libraryClient.cardId}">Select Your Card Id
                </option>
            </select>
           <p th:if="${#fields.hasErrors('libraryClient')}" class="label label-danger" th:errors="*{libraryClient}">

        </div>
        <div class="form-group">

            <label>Choose book to be returned: </label>
            <select th:field ="*{book.title}" id="selectBook">
                <option value="" disabled selected>Select Book</option>
                <option value="">Select Book</option>

            </select>
            <p th:if="${#fields.hasErrors('book.title')}" class="label label-danger" th:errors="*{book.title}">

        </div>


        <div class="form-group">

            <label>Your Rental Id is: </label>


            <select th:field="*{id}" id="rentalId">
                <option value="">Your rental ID</option>
            </select>
            <p th:if="${#fields.hasErrors('id')}" class="label label-danger" th:errors="*{id}">

        </div>
        <div class="form-group">

            <label>Return date: </label>

            <input type="date" th:value="*{actualReturnDate}" th:field="*{actualReturnDate}"/>


        </div>


        <div class="form-group">


            <td><input type="submit" value="Confirm Your Return"/></td>

        </div>


    </form>


    <script>
        $(document).ready(function () {
            $("#selectClient").on("change", function () {
                var clientId = $("#selectClient").val();
                var slctBook=$("#selectBook").val();
                $.ajax({
                    //type: 'GET',
                    url: "/returnBook/" + clientId,
                    data: {"clientId": clientId},
                    dataType: "json",
                    method: "GET",
                    success: function (data) {


                        var slctBook = $("#selectBook"), option = " ";

                        slctBook.empty();
                        option = option + "<option value='" + "" + "'>" + "" + "</option>";


                        for (var i = 0; i < data.length; i++) {


                            option = option + "<option value='" + data[i] + "'>" + data[i] + "</option>";

                        }
                        alert("CLICK book you want to return!!!");
                        slctBook.append(option);


                    },

                error: function () {
                    alert("error");
                }

            })
                ;
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#selectBook").change(function () {

                var clientId = $("#selectClient").val();
                var slctBook = $("#selectBook").val();
                $.ajax({
                    //type: 'GET',
                    url: "/returnBook/" + clientId + "/" + slctBook,
                    data: {"clientId": clientId, "slctBook": slctBook},
                    dataType: "json",
                    method: "GET",
                    success: function (data) {
                        //  $("#rentalId").val(data);


                        var rentalId = $("#rentalId"), option = "";
                        rentalId.empty();


                        option = option + "<option value='" + data + "'>" + data + "</option>";


                        rentalId.append(option);
                        // alert("CLICK date!!!");
                    },
                    error: function () {
                        alert("error");
                    }

                });
            });
        });
    </script>


</div>
<div th:include="footer::foot"></div>

</body>
</html>